/* Footer Styles */
footer {
    background-color: var(--color-dark-blue);
    color: white;
    text-align: center;
    padding: 20px;
    font-family: var(--font-family);
    margin: 0; /* Eliminar margen del footer */
}

footer p {
    color: white;
    text-decoration: none;
    text-align: center;
}
