/* General Section Styles */
body {
    font-family: var(--font-family);
    margin: 0; /* Eliminar margen predeterminado del cuerpo */
}

section {
    padding: 80px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse; /* Iniciar con dirección invertida */
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0; /* Eliminar margen entre contenedores */
}

.container .text,
.container .image {
    flex: 1 1 45%; /* Ajustar el ancho para que ocupen menos espacio */
    padding: 20px;
}

.container .image {
    text-align: center; /* Centrar la imagen */
}

.container .image img {
    max-width: 100%;
    height: auto;
    border-radius: 15px; /* Añadir redondeo a las imágenes */
}

.container .text {
    text-align: left; /* Alinear el texto a la izquierda */
    font-size: 24px; /* Aumentar tamaño de la letra */
    line-height: 1.6; /* Aumentar espacio entre líneas */
}

.container:nth-child(even) .text {
    order: 2;
}

.container:nth-child(even) .image {
    order: 1;
}

p {
    font-size: 24px; /* Aumentar tamaño de la letra */
    line-height: 2; /* Aumentar espacio entre líneas */
    margin: 0; /* Eliminar margen entre párrafos */
    text-align: justify; /* Justificar párrafos */
}

/* Estilos para los botones */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-pink);
    color: white;
    text-decoration: none;
    border-radius: 20px; /* Bordes redondeados */
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: white;
    color: var(--color-pink);
    border: 2px solid var(--color-pink);
}

/* Clases para aplicar los colores */
.text-blue {
    color: var(--color-blue);
}

.text-dark-blue {
    color: var(--color-dark-blue);
}

.text-pink {
    color: var(--color-pink);
}

/* Estilos para cada sección específica */
#inicio {
    background-color: var(--color-dark-blue);
    color: white;
}

#sobre-nosotros {
    background-color: var(--color-blue);
    color: white;
}

#servicios {
    background-color: var(--color-dark-blue);
    color: white;
}

#proceso {
    background-image: url('../img/background-png.png'); /* Añade la ruta a tu imagen aquí */
    background-size: cover; /* Asegura que la imagen cubra toda la sección */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
}

#por-que-elegirnos {
    background-color: var(--color-dark-blue);
    color: white;
}

#industrias {
    background-color: var(--color-dark-blue);
    color: white;
}

#recursos {
    background-color: var(--color-blue);
    color: white;
}

#contacto {
    background-color: var(--color-dark-blue);
    color: white;
}
