/* Variables para los colores corporativos */
:root {
    --primary-color: #3498db; /* azul */
    --secondary-color: #2c3e50; /* azul oscuro */
    --accent-color: #e91e63; /* rosa */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo img {
    height: 50px;
    margin-left: 1em;
}

nav {
    position: relative;
}

.menu-toggle {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1em;
    margin-right: 1em;
    flex-wrap: wrap;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: var(--accent-color);
}

main {
    padding: 2em;
    text-align: center;
}

section {
    margin-bottom: 2em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.container .text {
    flex: 1;
    padding: 1em;
}

.container .image {
    flex: 1;
    padding: 1em;
    text-align: center;
}

.container .image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

h1, h2 {
    color: var(--secondary-color);
}

footer {
    background-color: var(--secondary-color);
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
}

a.button {
    background-color: var(--accent-color);
    color: #ffffff;
    padding: 1em 2em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: inline-block;
    margin-top: 1em;
}

a.button:hover {
    background-color: var(--primary-color);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.menu-visible {
    display: flex;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    
    .menu-toggle {
        display: block;
        margin-right: 1em;
    }
    
    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    
    nav ul li {
        margin: 0.5em 0;
    }

    .container {
        flex-direction: column;
    }
    
    .container .text,
    .container .image {
        text-align: center;
        padding: 0.5em;
    }
    
    .container .text {
        order: 2;
    }
    
    .container .image {
        order: 1;
    }
}
